@font-face {
  font-family: 'iconfont';  /* project id 324606 */
  src: url('//at.alicdn.com/t/font_0u7q8nelhnbnvcxr.eot');
  src: url('//at.alicdn.com/t/font_0u7q8nelhnbnvcxr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_0u7q8nelhnbnvcxr.woff') format('woff'),
  url('//at.alicdn.com/t/font_0u7q8nelhnbnvcxr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_0u7q8nelhnbnvcxr.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
.allfood{
  flex-grow: 1;
  overflow: auto;
  background: #ccc;
}
.allfood ul li{
  height:1.5rem;
  line-height: 1.5rem;
  background: #fff;
  margin-top: 1px;
}
.allfood ul li img{
  float: left;
  display: block;
  border-radius: 100%;
  width: 1.4rem;
  height: 1.4rem;
  margin-top: 0.05rem;
}
.allfood ul li span{
  float: left;
  display: block;
  height:1.5rem;
  line-height: 1.5rem;
}
.allfood ul li button{
  display: block;
  float: right;
  margin-top: 0.4rem;
  box-shadow: none;
  border: none;
}
