@font-face {
  font-family: 'iconfont';  /* project id 324606 */
  src: url('//at.alicdn.com/t/font_xi2tu6tujrhyf1or.eot');
  src: url('//at.alicdn.com/t/font_xi2tu6tujrhyf1or.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_xi2tu6tujrhyf1or.woff') format('woff'),
  url('//at.alicdn.com/t/font_xi2tu6tujrhyf1or.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_xi2tu6tujrhyf1or.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
  }
.allfood{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  flex-grow: 1;
  background: #ccc;
}
.allfood .allfood-ul{
  flex-flow: 1;
  overflow: auto;
}

.allfood .fooditem{
  display: flex;
  justify-content:space-between;
  border-bottom: 1px solid #f0f0f0;
  padding: 0.4rem 0 0.4rem 0.4rem ;
  background: #fff;
}
.allfood .food-pic{
  width: 2rem;
  height: 2rem;
  display: block;
}
.allfood .food-cont{
  flex-grow: 1;
  padding-left: 0.5rem;
}
.allfood .food-name{
  max-height: 1rem;
  line-height: 0.5rem;
  overflow: hidden;
  color: #2f2f2f;
  font-size: 0.5rem;
}
.food-price-region{
  padding: 0.3rem 0;
}
.allfood .food-price{
  color: #fe4d3d;
  font-size: 0.5rem;
}
.allfood .j-item-console{
  width: 4rem;
  float: right;
  text-align: right;
  padding-right: 0.2rem;
}
.allfood .i-add-food{
  color:#FFDB4C;
}
.allfood .foodop-num{
  font-size: 0.6rem;
  color:#2f2f2f;
  padding: 0 0.1rem;
}
.allfood .i-remove-food{
  font-size: 0.75rem;
  color:#C7C7CC;
  margin-top: -0.1rem;
}
.allfood .shoppingcart{
  flex-shrink:0;
  height: 1.7rem;
  border-top: 1px solid #ccc;
  background: #fff;
}
.shoppingcart-pic,.shoppingcart-content{
  float: left;
}
.allfood .settlement{
  float:right;
  background: #ffd300;
  color: #6b450a;
  line-height: 1.7rem;
  text-align: center;
  font-size: 0.5rem;
  width: 3rem;
}
.allfood .shoppingcart-pic{
  height: 1.7rem;
  width: 2rem;
  position: relative;
}
.allfood .shoppingcart-pic span{
  line-height: 1.7rem;
  position: absolute;
  top:-0.1rem;
  left:0.3rem;
  font-size: 1.5rem;
  color:#ffd300;
}
.allfood .shoppingcart-content{
  padding-left: 0.5rem;
}
.allfood .shoppingcart-content .total{
  color: #fe4d3d;
  font-size: 0.6rem;
  line-height: 0.9rem;
}
.allfood .shoppingcart-content .explain{
  color:#2f2f2f;
  line-height: 0.6rem;
}
